Assignment-1

In [ ]:
##Create one variable containing following type of data:

##String:
str_var="Bishwadeep"

##list
list_var=[1,2,3,4,5]

##float
float_var=2.46

##tuple
tuple_var=(1,2,3,4,5)

In [ ]:
type(tuple_var)

In [ ]:
##Given are some following variables containing data:

var1 = ''
#type-str

var2 = '[DS, ML, Python]'
#type-str

var3 = ['DS', 'ML', 'Python']
#type-list

var4 = 1.
#type-float

In [ ]:
##Explain the use of the following operators using an example:

a=10
b=3

##/
c=a/b
print(c)
##output=3.3333333333333335

##%
d=a%b
print(d)
##output=1

##//
e=a//b
print(e)
##output=3

##**
f=a**b
print(f)
##output=1000

In [ ]:
# Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type#

list_var=[1,2,2.3,'bish',[2,3,4,5],(1,2,3),{3,4,5},{a:2,b:'pwskills'},True,9,10]

for i in list_var:
    data_type=type(i)
    print("datatype of variable {} is {}".format(i,data_type))

In [ ]:
##Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

A=int(input())
B=int(input())
while A%B==0:
        quo=A//B
        print("{} is divisible by {}".format(A,B))
        print("Quotient is {}".format(quo))

print("{} is NOT divisible by {}".format(A,B))

In [ ]:
##Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

##using FOR and IF-ELSE statement
list_var=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list_var:
    if i%3==0:
        print("{} is divisible by 3".format(i))
    else:
        print("{} is NOT divisible by 3".format(i))

In [ ]:
##What do you understand about mutable and immutable data types? Give examples for both showing this property.

##mutable data type
list_var=[1,2,3,4]
list_var[0]=6
list_var

##immutable data type
string_var="bish"
string_var[0]="x"
string_var