In [1]:
##Pandas Advance-2

In [2]:
import pandas as pd

In [3]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]

In [4]:
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [5]:
df.head()

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [6]:
##Q1. Write a code to print the data present in the second row of the dataframe, df.

In [7]:
##Q1-ans:
print(df.iloc[1:2])

        course_name  duration
1  Machine Learning         3

In [8]:
##Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [9]:
##Q2_ans:

##There are two major differences:

##1. iloc function understands the internal allocated indexes whereas loc understands the named indexes
##2. iloc doesnt consider the upper bound in the input whereas loc considers the upper bound

In [10]:
##Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [11]:
##Q3_ans:

reindex=[3,0,1,2]

In [15]:
df.drop('reindex',axis=1)

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [16]:
new_df=pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration},index=reindex)

In [17]:
new_df

        course_name  duration
3      Data Science         2
0  Machine Learning         3
1          Big Data         6
2     Data Engineer         4

In [18]:
new_df.loc[2]

course_name    Data Engineer
duration                   4
Name: 2, dtype: object

In [19]:
new_df.iloc[2]

course_name    Big Data
duration              6
Name: 1, dtype: object

In [20]:
##There is a difference in the outputs mainly because loc considers the input to be the upper bound and includes it in the final output whereas iloc considers input-1 to be index for the final output.

In [32]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [33]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.904684  0.450569  0.484488  0.131608  0.648201  0.502368
2  0.008312  0.874501  0.069580  0.885886  0.152127  0.447649
3  0.793957  0.248356  0.553525  0.228404  0.499756  0.997007
4  0.150509  0.420669  0.767827  0.468619  0.899173  0.105804
5  0.783911  0.748207  0.704145  0.813402  0.123286  0.210071
6  0.815981  0.744748  0.179859  0.632050  0.306806  0.097912

In [34]:
##Q4. Write a code to find the following statistical measurements for the above dataframe df1:
##(i) mean of each and every column present in the dataframe.
##(ii) standard deviation of column, ‘column_2’

In [35]:
##Q4-ans:

df1.describe()

##describe can be used to calculate all relevant statistical measures

       column_1  column_2  column_3  column_4  column_5  column_6
count  6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.576226  0.581175  0.459904  0.526661  0.438225  0.393468
std    0.389787  0.242604  0.280933  0.306843  0.302872  0.341407
min    0.008312  0.248356  0.069580  0.131608  0.123286  0.097912
25%    0.308860  0.428144  0.256016  0.288458  0.190797  0.131871
50%    0.788934  0.597659  0.519007  0.550334  0.403281  0.328860
75%    0.810475  0.747342  0.666490  0.768064  0.611090  0.488688
max    0.904684  0.874501  0.767827  0.885886  0.899173  0.997007

In [36]:
df1.mean()

column_1    0.576226
column_2    0.581175
column_3    0.459904
column_4    0.526661
column_5    0.438225
column_6    0.393468
dtype: float64

In [37]:
df1['column_2'].std()

0.24260427633018597

In [43]:
df1.loc[2,'column_2']=['b']

In [44]:
df1.mean()

/tmp/ipykernel_91/2053335143.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.mean()

column_1    0.576226
column_3    0.459904
column_4    0.526661
column_5    0.438225
column_6    0.393468
dtype: float64

In [45]:
##The mean excluded column 2 as there is a string variable and mean can only be executed for all numeric inputs.

In [ ]:
##Q6-ans:

##In Pandas, the window function allows for rolling window calculations, which are essential for time-series data analysis and other types of data manipulation tasks. It enables users to perform calculations over a specified window of data points, which can then be used for aggregation, transformation, or other operations.

##The window function operates in conjunction with other functions like rolling, expanding, and ewm (Exponentially Weighted Moving Average) in Pandas.

##Types of window functions in Pandas include:

##rolling: This function is used to provide rolling window calculations. It computes rolling statistics like rolling mean, rolling sum, rolling min, rolling max, etc., over a specified window size.

##expanding: The expanding window function computes statistics for all values in the data set from the beginning until each point. It gradually includes more data in each computation, hence 'expanding'.

##ewm (Exponentially Weighted Moving Average): This function provides exponentially weighted moving averages. It assigns exponentially decreasing weights to the observations, with more recent observations receiving higher weights.

In [47]:
##Q7. Write a code to print only the current month and year at the time of answering this question. [Hint: Use pandas.datetime function]

##Ans:

from datetime import datetime
current_date=datetime.now()
current_month=current_date.month
current_year=current_date.year

print(current_month)
print(current_year)

2
2024

In [49]:
##Ans to ques 8:

def main():
    # Prompt the user to enter the first date
    date1_str = input("Enter the first date (YYYY-MM-DD): ")

    # Prompt the user to enter the second date
    date2_str = input("Enter the second date (YYYY-MM-DD): ")

    # Convert the input strings to datetime objects
    date1 = pd.to_datetime(date1_str)
    date2 = pd.to_datetime(date2_str)

    # Calculate the time difference between the dates
    time_diff = date2 - date1

    # Extract days, hours, and minutes from the time difference
    days = time_diff.days
    hours = time_diff.seconds // 3600
    minutes = (time_diff.seconds % 3600) // 60

    # Display the result
    print("Time difference:")
    print(f"Days: {days}")
    print(f"Hours: {hours}")
    print(f"Minutes: {minutes}")

if __name__ == "__main__":
    main()

Enter the first date (YYYY-MM-DD):  2022-03-19
Enter the second date (YYYY-MM-DD):  2023-10-29

Time difference:
Days: 589
Hours: 0
Minutes: 0

In [ ]:
##Ans to ques 9:

import pandas as pd

def main():
    # Prompt the user to enter the file path
    file_path = input("Enter the file path of the CSV file: ")

    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Display the DataFrame to show available columns
    print("Available columns:")
    print(df.columns)

    # Prompt the user to enter the column name to convert
    column_name = input("Enter the column name to convert to categorical: ")

    # Prompt the user to enter the category order separated by commas
    category_order_str = input("Enter the category order (comma-separated): ")
    category_order = [cat.strip() for cat in category_order_str.split(',')]

    # Convert the specified column to categorical with the specified order
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

    # Sort the DataFrame based on the categorical column
    df_sorted = df.sort_values(by=[column_name])

    # Display the sorted DataFrame
    print("\nSorted Data:")
    print(df_sorted)

if __name__ == "__main__":
    main()

In [ ]:
##Ans to Q10:

import pandas as pd
import matplotlib.pyplot as plt

def main():
    # Prompt the user to enter the file path of the CSV file
    file_path = input("Enter the file path of the CSV file: ")

    # Read the CSV file into a DataFrame
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print("File not found. Please check the file path.")
        return
    except Exception as e:
        print("An error occurred:", e)
        return

    # Convert the 'Date' column to datetime type
    df['Date'] = pd.to_datetime(df['Date'])

    # Extract product categories
    product_categories = df.columns[1:]

    # Group by date and sum the sales for each product category
    sales_by_date = df.groupby('Date')[product_categories].sum()

    # Plotting the stacked bar chart
    sales_by_date.plot(kind='bar', stacked=True, figsize=(12, 6))
    plt.title('Sales of Product Categories Over Time')
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.xticks(rotation=45)
    plt.legend(title='Product Category')
    plt.tight_layout()
    plt.show()

if __name__ == "__main__":
    main()

In [ ]:
##Ans to Q11:

import pandas as pd

def main():
    # Prompt the user to enter the file path of the CSV file
    file_path = input("Enter the file path of the CSV file: ")

    # Read the CSV file into a DataFrame
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print("File not found. Please check the file path.")
        return
    except Exception as e:
        print("An error occurred:", e)
        return

    # Calculate mean, median, and mode
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    mode_score = df['Test Score'].mode()

    # Create a DataFrame to display the results
    results_df = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Value': [mean_score, median_score, mode_score[0]]  # mode returns a Series, get the first value
    })

    # Display the results
    print("\nStatistics of Test Scores:")
    print(results_df)

if __name__ == "__main__":
    main()